<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <%# <title>Blog</title> %>
  <meta name="description" content="My Blog">
  <meta name="author" content="Joseph Lozano">

  <link rel="stylesheet" href="styles.css">

</head>

<body>

  <h1 class="bg-red-200">My Blog</h1>
  <%= for post <- posts do %>
    <a href="<%= "/#{post.slug}" %>"><%= post.title %></a>
  <% end %>

</body>
